<main class="home-body">
  <section class="home">
    <div class="home-intro">
      <div class="intro-img"></div>
      <div class="intro-paragraph">
        <p>
          Owners and founders Mark and Mary Jensen.
        </p>
        <p>
          Mark graduated from BYU in 1980 with a BS dedgree in accounting,
          but watching people make a magical transition from sickness and disease
          to health and activity through superior nutrition is a unique and exceptional
          joy in his life.
        </p>
        <button ui-sref="offer">Learn More</button>
      </div>
    </div>
    <div class="home-background"></div>
    <img class="home-background" src="src/veg1.jpg">
  </section>
</main>
