<section class="lectures">
  <div class="navbar">
    <p class="desktop-view">Word of Wisdom Nutritional Health Center</p>
    <p class="phone-view">WOWNHC</p>
    <p>Lecture Series</p>
  </div>
  <div class="lecture-content">
    <div class="lecture-info">
      <div class="lecture-info-header">
        <h2>Lecture Series</h2>
        <h2>Scheduled</h2>
      </div>
      <div class="lecture-info-content">
        <div class="lecture-series">
          <p>1. The Reality of Implementing the "Word of Wisdom Lifestyle"</p>
          <p>2. The Dynamic Duo: The Medical/Pharmaceutical Complex and Diabetes</p>
          <p>3. Cardiovascular Disease</p>
          <p>4. Cancer</p>
          <p>5. Lifespans and Centennials</p>
          <p>6. Disease Proof Your Children</p>
          <p>7. The Word of Wisdom</p>
          <p>8. The Evil Designs of Conspiring Men</p>
          <p>9. Early Maturation Due to Diet</p>
          <p>10. The China Study</p>
          <p>11. Factory Farms</p>
          <p>12. Dietary Effects on Eye, Bones, Kidneys, Brain, and Sex</p>
          <p>13. Autoimmune Diseases</p>
          <p>14. Multiple Sclerosis</p>
          <p>15. Osteoporosis</p>
          <p>16. The Fallacy of Single Nutrient Strategy</p>
        </div>
        <div class="lecture-sched">
          <p>TBD</p>
          <p>TBD</p>
          <p>TBD</p>
          <p>TBD</p>
          <p>TBD</p>
          <p>TBD</p>
          <p>TBD</p>
          <p>TBD</p>
          <p>TBD</p>
          <p>TBD</p>
          <p>TBD</p>
          <p>TBD</p>
          <p>TBD</p>
          <p>TBD</p>
          <p>TBD</p>
          <p>TBD</p>
        </div>
        <button ui-sref="offer">View Our Offer</button>
      </div>
    </div>
    <div class="lecture-picture"></div>
  </div>
</section>
