<main class="lectures-body">
  <section class="lectures">
    <div class="navbar">
      <p class="desktop-view" ui-sref="home">Word of Wisdom Nutritional Health Center</p>
      <p class="phone-view" ui-sref="home">WOWNHC</p>
      <p>Lecture Series</p>
    </div>
    <div class="lecture-content">
      <div class="lecture-info">
        <div class="lecture-info-header">
          <h2>Lecture Series</h2>
          <h2>Scheduled</h2>
        </div>
        <div class="lecture-info-content">
          <div class="lecture-series">
            <p>1. The Reality of Implementing the "Word of Wisdom Lifestyle"<span> (Scheduled TBD)</span></p>
            <p>2. The Dynamic Duo: The Medical/Pharmaceutical Complex and Diabetes<span> (Scheduled TBD)</span></p>
            <p>3. Cardiovascular Disease<span> (Scheduled TBD)</span></p>
            <p>4. Cancer<span> (Scheduled TBD)</span></p>
            <p>5. Lifespans and Centennials<span> (Scheduled TBD)</span></p>
            <p>6. Disease Proof Your Children<span> (Scheduled TBD)</span></p>
            <p>7. The Word of Wisdom<span> (Scheduled TBD)</span></p>
            <p>8. The Evil Designs of Conspiring Men<span> (Scheduled TBD)</span></p>
            <p>9. Early Maturation Due to Diet<span> (Scheduled TBD)</span></p>
            <p>10. The China Study<span> (Scheduled TBD)</span></p>
            <p>11. Factory Farms<span> (Scheduled TBD)</span></p>
            <p>12. Dietary Effects on Eye, Bones, Kidneys, Brain, and Sex<span> (Scheduled TBD)</span></p>
            <p>13. Autoimmune Diseases<span> (Scheduled TBD)</span></p>
            <p>14. Multiple Sclerosis<span> (Scheduled TBD)</span></p>
            <p>15. Osteoporosis<span> (Scheduled TBD)</span></p>
            <p>16. The Fallacy of Single Nutrient Strategy<span> (Scheduled TBD)</span></p>
          </div>
          <div class="lecture-sched">
            <p>TBD</p>
            <p>TBD</p>
            <p>TBD</p>
            <p>TBD</p>
            <p>TBD</p>
            <p>TBD</p>
            <p>TBD</p>
            <p>TBD</p>
            <p>TBD</p>
            <p>TBD</p>
            <p>TBD</p>
            <p>TBD</p>
            <p>TBD</p>
            <p>TBD</p>
            <p>TBD</p>
            <p>TBD</p>
          </div>
        </div>
        <button ui-sref="offer">View Our Offer</button>
      </div>
      <!-- <div class="lecture-picture"></div> -->
      <img src="src/veg3.jpg" />
    </div>
  </section>
</main>
