<section class="offer">
  <div class="navbar">
    <p class="desktop-view">Word of Wisdom Nutritional Health Center</p>
    <p class="phone-view">WOWNHC</p>
    <p>Our Offer</p>
  </div>
  <div class="offer-info">
    <div class="canOffer">
      <h1>What We Can Offer</h1>
      <p>
        We at the Word of Wisdom Nutritional Health Center
        believe in more than just abstaining from harmful
        substances. It's about keeping your body clean and
        healthy.
      </p>
      <p>
        Our standard American diet of animal products and
        processed foods is causing chronic disease. Currently,
        90% of Americans now suffer and die from chronic
        diseases.
      </p>
      <p>
        We can offer you an extensive education that will
        help you develop the life skills necessary to living the
        higher law of the Word of Wisdom.
      </p>
    </div>
    <div class="enrollment">
      <h1>Enrollment Fees</h1>
      <p>
        First Lecture is <span>FREE!</span> We want you to see that there is value in what we provide.
      </p>
      <h2>Level 1 $39/mo</h2>
      <p>
        Monthly Lectures, Monthly Support Meeting, Weekly Recipe Class, Statistics Recorded*
      </p>
      <h2>Level 2 $69/mo</h2>
      <p>
        Weekly Lectures, Monthly Consultation, Monthly Support Meeting, Weekly Recipe Class, Exercise Class,
        Statistics Recorder*
      </p>
      <h2>Level 3 $99/mo</h2>
      <p>
        Weekly Lectures, Monthly Consultation, Monthly Support Meeting, Weekly Recipe Class, Guest Lecturers,
        Weekly Exercise Class, Weekly Yoga Class, Statistics Recorder*
      </p>
      <p class="star">
        *Weekly Statistics Include: Weight, Blood Pressure, O2 Saturation, and BMI (Body Mass Index)
         Monthly Statistics Include: Cholesteral Test, Blood Sugar Test, BMI (Body Mass Index)
      </p>
      <button ui-sref="lectures">View Our Lecture Series</button>
    </div>
  </div>
  <img class="offer-background" src="../src/veg2.jpg">
</section>
